a{text-decoration: none;}
li{list-style: none;}

body{
	background:#FEBC23;
	color: white;
}

#top_button > a{
	color: white;
	font-size: 22px;
	border: 3px solid #E9711E;
	border-radius: 30px;
	padding: 7px;
}
#top_button > a:hover{	
	border: 3px solid #D46010;
	background: #F4BD36;
	font-weight: 900;
}

/*--------------------------------------------------------------------------------------*/

#header{overflow: hidden;}

/*--------------------------------------------------------------------------------------*/

#main_top{
	width: 100%;
	height: 320px;
	background: #282825;
	border: 1px solid #282825;
}

#header > #main_top > #logo > a > img{
	margin-left: 1px;
	margin-top: -4px;
	width: 60px;
	height: 60px;
}


#header > #main_top{
	padding: 10px 5px;
}

/*--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

#menuicon{
	display: none;
}
#menuicon + label{
	display: block;
	width: 50px; 
	height: 30px;
	position: fixed;
	cursor: pointer;
	right: 0;
	top: 0;
	margin-right: 15px;
	margin-top: 15px;
	z-index: 2;
}
#menuicon + label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: white;
	transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1){
	top: 0;
}
input[id="menuicon"] + label span:nth-child(2){
	top: 50%;
	transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
	bottom: 0;
}


/*메뉴바 버튼을 클릭하면 회전시켜 X자로 바뀌는 부분*/
input[id="menuicon"]:checked + label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
	opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}


/*메뉴바*/
div[class="sidebar"]{
	width: 98.6%;
	height: 200px;
	background: black; 
	position: fixed;
	top: 0;
	top: -300px;
	z-index: 1;
	transition: all .35s;
	opacity: 0.9;
	border-radius: 0 0 20px 20px;
}
input[id="menuicon"]:checked + label + div {
	top: 0;
}

/*--------------------------------------------------------------------------------------*/

.sidebar_bt{
	float: left;
	font-size: 21px;
	width: 100px;
	height: 120px;
	margin: 5px 261px;
	
	/*border: 1px solid yellow;*/
}

.sidebar_bt > p{
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 28px;
	text-shadow: 1px 1px 1px #A2A29E;
	
	/*border: 1px solid skyblue;*/
}

.sidebar_bt > .bt_all{
	text-align: center;
	margin-top: -20px;
}

.sidebar_bt > .bt_all > a{
	color: white;
	text-align: center;
	
	/*border: 1px solid blue;*/
}
.sidebar_bt > .bt_all > a:hover{
	color: #FEBC23;
	font-weight: bold;
}
/*--------------------------------------------------------------------------------------*/



#main_top > h1{
	/*border: 1px solid white;*/
	font-size: 90px;
	text-shadow: 6px 6px 6px black;
	width: 720px;
	text-align: center;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 40px;
}

#header > #main_top > .main_top_p1{
	text-align: center;   font-size: 18px;  color: white;
	width: 600px;
	margin: 0 auto;
	margin-top: -5px;
	margin-bottom: 20px;
}

#header > #main_top > .main_top_p2{
	text-align: center;   font-size: 20px;  color: #FEBC23;
	text-shadow: 2px 2px 2px black;
	width: 800px;
	margin: 0 auto;
}


/*--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

#main_bottom{
	width: 100%;
	height: 900px;
	background:black;	
}

/*--------------------------------------------------------------------------------------*/

table{
    border-top: 1px solid white;
    border-collapse: collapse;
}
th, td {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}
th{
	border-right: 1px solid black;
	border-left: 1px solid black;
}
td {
	border-right: 1px solid black;
}

td:hover{
	color: #FEBC23;
}


#main_bottom > #board_top{
	width: 1000px;
	margin: 0 auto;
	padding-top: 60px;
	margin-bottom: 30px;
}

#main_bottom > #board_top > #filter_select{
	margin-right: 555px;
}

#board_bottom > table{
	height: 500px;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

#main_bottom > #board_bottom > #blank{
	width: 100%;
	height: 30px;
}

#main_bottom > #board_bottom > a{
	color: white;
	margin-top: 40px;
	margin-left: 74%;
	border: 1px solid white;
}

#main_bottom > #board_bottom > ul{
	margin-left: 640px;
	width: 600px;
	height: 30px;
}
#main_bottom > #board_bottom > ul > li{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#main_bottom > #board_bottom > ul > li:hover{
	border: 2px solid #FEBC23;
	color: white;
}

/*--------------------------------------------------------------------------------------*/

.notice{
	color: #FEBC23;
	font-weight: bolder;
}

