a{text-decoration: none;}
li {list-style: none;}
body{background: #4C4646;}

#top_button > a{
	color: white;
	font-size: 22px;
	border: 3px solid #E9711E;
	border-radius: 30px;
	padding: 7px;
}
#top_button > a:hover{	
	border: 3px solid #D46010;
	background: #F4BD36;
	font-weight: 900;
}
/*------------------------------------------*/
.image{
	/*border: 3px solid gray;*/
	height: 420px;
	width: 1500px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 80px;
}

.image_area{
	/*border: 1px solid black;*/
	width: 540px;
	height: 420px;
	float:left;
}

.image_top{
	width: 540px;
	height: 350px;
	margin-left: 5px;
	border-radius: 10px 10px 0 0;
}

.image_bottom{
	width: 540px;
	height: 70px;
	margin-left: 5px;
	margin-top: 0px;
	background: orange;
	border-radius: 0 0 10px 10px;
}

.right{
	margin-left: 410px;
}

.image > .image_area > .image_bottom > .button{
	width: 56px;
	margin: 0 auto;
}