a {text-decoration: none;}
li{list-style: none;}


body{background:#FEBC23}
#main{
	overflow: hidden;
}
#main_left{
	width:65%;
	height: 950px;
	background: #282825;
	margin: 0 0;
	float: left;
	color: white;
}
#main > #main_left > #title > h1{
	width: 65%;
	display: block;
	margin-top: 300px;
	padding-left: 170px;
	font-size: 60px;
	text-shadow: 5px 5px 5px black;
}
#main > #main_left > #title > p{
	width: 65%;
	display: block;
	padding-left: 170px;
}

#learn_more_div{
	margin-top: 40px;
}

#learn_more{
	color: #FEBC23;
	width: 65%;
	margin-left: 170px;
	padding: 10px 35px;
	text-align: center;
	border-radius: 40px;
	border: 2px solid #FEBC23;
	text-shadow: 5px 5px 5px black;
}
#learn_more:hover{
	background: #E1A225;
	color: white;
}

#main_right{
	width: 35%;
	height: 950px;
	background: black;
	margin: 0 0;
	float: right;
}
/*---------------------------------------------------------*/
.kategori_1{color: white;} .kategori_2{color: white;} .kategori_3{color: white;}


/*---------------------------------------------------------*/


#kategorie_1{
	overflow: hidden;
	width: 470px;
	margin: 0 auto;
	height: 150px;
	margin-top: 180px;

}
.kategori_1{
	float: left;
	display: block;
	width: 120px;
	height: 140px;
	border: 2px solid white;
	text-align: center;
	line-height: 140px;
	margin: 5px;
	margin-top: -12px;
}

.kategori_1:hover{
	border: 3px solid #FEBC23;	
}

/*---------------------------------------------------------*/

#kategorie_2{
	overflow: hidden;
	width: 470px;
	margin: 0 auto;
	height: 150px;

}
.kategori_2{
	float: left;
	display: block;
	width: 120px;
	height: 140px;
	border: 2px solid white;
	text-align: center;
	line-height: 140px;
	margin: 5px;
	margin-top: -12px;
}

.kategori_2:hover{
	border: 3px solid #FEBC23;	
}

/*---------------------------------------------------------*/

#kategorie_3{
	overflow: hidden;
	width: 470px;
	margin: 0 auto;
	height: 150px;
}

.kategori_3{
	float: left;
	display: block;
	width: 120px;
	height: 140px;
	border: 2px solid white;
	text-align: center;
	line-height: 140px;
	margin: 5px;
	margin-top: -12px;
}

.kategori_3:hover{
	border: 3px solid #FEBC23;	
}

/*---------------------------------------------------------*/

#main_bottom > #main_copyright{
	color: white;
	height: 40px;
	line-height: 10px;
	width: 310px;  margin: 0 auto;
	text-align: center;
	margin-top: 260px;
}
#main_bottom > #main_copyright:hover{
	color: lightgray;
}