a{text-decoration: none;}
li{list-style: none;}

body{
	background:#FEBC23;
	color: white;

}

#top_button > a{
	color: white;
	font-size: 22px;
	border: 3px solid #E9711E;
	border-radius: 30px;
	padding: 7px;
}
#top_button > a:hover{	
	border: 3px solid #D46010;
	background: #F4BD36;
	font-weight: 900;
}

/*--------------------------------------------------------------------------------------*/

#header{overflow: hidden;}

/*--------------------------------------------------------------------------------------*/

#main_top{
	width: 100%;
	height: 320px;
	background: #282825;
	border: 1px solid #282825;
}

#main_top > h1{
	font-size: 90px;
	text-shadow: 6px 6px 6px black;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 40px;
}

#header > #main_top > .main_top_p1{
	text-align: center;   font-size: 18px;  color: white;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#header > #main_top > .main_top_p2{
	text-align: center;   font-size: 20px;  color: #FEBC23;
	text-shadow: 2px 2px 2px black;
	width: 800px;
	margin: 0 auto;
}

/*--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

#main_bottom{
	width: 100%;
	height: 3000px;
	background:black;	
}

/*--------------------------------------------------------------------------------------*/

#main_bottom > #pohang_hotel > #hotel_header{
	background: white;   color: black;
	width: 550px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 25px 25px 25px 25px;
	border: 1px solid white;

}

#main_bottom > #pohang_hotel > #hotel_header:hover{
	background: black;   color: white;
}
#main_bottom > #pohang_hotel > #hotel_header > h1{
	font-size: 45px;
}

#main_bottom > #pohang_hotel{
	width: 97%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#main_bottom > #pohang_hotel > .hotel > img{
	border: 1px solid white;
	border-radius: 15px;
	width: 560px;
	height: 350px;
	margin: 0 auto;
	margin-left: 15px;   margin-right: 15px;  margin-bottom: 15px;
}
/*--------------------------------------------------------------------------------------*/

#main_bottom > #pohang_cruise > #cruise_header{
	background: white;   color: black;
	width: 550px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 25px 25px 25px 25px;
	border: 1px solid white;
}
#main_bottom > #pohang_cruise > #cruise_header:hover{
	background: black;   color: white;
}

#main_bottom > #pohang_cruise > #cruise_header > h1{
	font-size: 45px;
}
#main_bottom > #pohang_cruise{
	width: 97%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#main_bottom > #pohang_cruise > .cruise> img{
	border: 1px solid white;
	border-radius: 15px;
	width: 560px;
	height: 350px;
	margin: 0 auto;
	margin-left: 15px;   margin-right: 15px;  margin-bottom: 15px;
}

/*--------------------------------------------------------------------------------------*/

#main_bottom > #pohang_beach > #beach_header{
	background: white;   color: black;
	width: 550px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 25px 25px 25px 25px;
	border: 1px solid white;
}
#main_bottom > #pohang_beach > #beach_header:hover{
	background: black;   color: white;
}
#main_bottom > #pohang_beach > #beach_header > h1{
	font-size: 45px;
}
#main_bottom > #pohang_beach{
	width: 97%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#main_bottom > #pohang_beach > .beach> img{
	border: 1px solid white;
	border-radius: 15px;
	width: 560px;
	height: 350px;
	margin: 0 auto;
	margin-left: 15px;   margin-right: 15px;  margin-bottom: 15px;
}





/*
#main_left{
	width:65%;
	height: 950px;
	background: #282825;
	margin: 0 0;
	float: left;
	color: white;
}
*/